{% extends 'admin_templates/base.html' %} {% load static %} {%block main_content%}
<div class="row">
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="pink">278</h3>
                            <span>Managers</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-users2 pink font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal">156</h3>
                            <span>Supervisors</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-user teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="deep-orange">312</h3>
                            <span>Process Experts</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-wrench3 deep-orange font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="cyan">890</h3>
                            <span>Operators</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-user4 cyan font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-7 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Recent Users</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th style="width: 20%;">Employee No</th>
                                <th>Username</th>
                                <th>Email Id</th>
                                <th>Role</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">30761594</td>
                                <td class="text-truncate">Kalpesh Wankhede</td>
                                <td class="text-truncate">kalpeshwankhede@gmail.com</td>
                                <td class="text-truncate">Admin</td>
                                <td class="text-truncate">G-9</td>
                            </tr>




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Add User</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">


                    <form class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput1">Full Name</label>
                                        <input type="text" id="userinput1" class="form-control border-primary" placeholder="Full Name" name="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput2">Email Id</label>
                                        <input type="email" id="userinput2" class="form-control border-primary" placeholder="Email Id" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput3">Username</label>
                                        <input type="text" id="userinput3" class="form-control border-primary" placeholder="Username" name="username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput4">Password</label>
                                        <input type="password" id="userinput4" class="form-control border-primary" placeholder="Password" name="nickname">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput5">Employee No</label>
                                        <input type="text" id="userinput5" class="form-control border-primary" placeholder="Employee No" name="empno">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput6">Role</label>
                                        <select id="userinput6" name="role" class="form-control border-primary">
                                            <option value="0" selected="" disabled="">-- Select A Role --</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Process Expert">Process Expert</option>
                                            <option value="Operator">Operator</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions right ">
                            <button type="reset" class="btn btn-danger mr-1">
                                    <i class="icon-cross2"></i> Clear
                                </button>
                            <button type="submit" class="btn btn-success">
                                    <i class="icon-plus"></i> Add User
                                </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-7 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Update User</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">


                    <form class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userselect">User</label>
                                        <select id="userselect" name="user" class="form-control border-primary">
                                            <option value="0" selected="" disabled="">-- Select A User --</option>
                                            
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput1">Full Name</label>
                                        <input type="text" id="userinput1" class="form-control border-primary" placeholder="Full Name" name="name" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput2">Email Id</label>
                                        <input type="email" id="userinput2" class="form-control border-primary" placeholder="Email Id" name="email" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput3">Username</label>
                                        <input type="text" id="userinput3" class="form-control border-primary" placeholder="Username" name="username" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput4">Password</label>
                                        <input type="password" id="userinput4" class="form-control border-primary" placeholder="Password" name="nickname" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput5">Employee No</label>
                                        <input type="text" id="userinput5" class="form-control border-primary" placeholder="Employee No" name="empno" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput6">Role</label>
                                        <select id="userinput6" name="role" class="form-control border-primary" disabled>
                                            <option value="0" selected="" disabled="">-- Update the Role --</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Process Expert">Process Expert</option>
                                            <option value="Operator">Operator</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions right ">
                            <button type="reset" class="btn btn-danger mr-1">
                                    <i class="icon-cross2"></i> Clear
                                </button>
                            <button type="submit" class="btn btn-warning">
                                    <i class="icon-edit"></i> Update
                                </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Delete User</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">


                    <form class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userselect">User</label>
                                        <select id="userselect" name="user" class="form-control border-danger">
                                            <option value="0" selected="" disabled="">-- Select A User --</option>
                                            
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput1">Full Name</label>
                                        <input type="text" id="userinput1" class="form-control border-danger" placeholder="Full Name" name="name" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput2">Email Id</label>
                                        <input type="email" id="userinput2" class="form-control border-danger" placeholder="Email Id" name="email" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput3">Username</label>
                                        <input type="text" id="userinput3" class="form-control border-danger" placeholder="Username" name="username" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput4">Password</label>
                                        <input type="password" id="userinput4" class="form-control border-danger" placeholder="Password" name="nickname" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput5">Employee No</label>
                                        <input type="text" id="userinput5" class="form-control border-danger" placeholder="Employee No" name="empno" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userinput6">Role</label>
                                        <select id="userinput6" name="role" class="form-control border-danger" disabled>
                                            <option value="0" selected="" disabled="">-- Update the Role --</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Process Expert">Process Expert</option>
                                            <option value="Operator">Operator</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions right ">
                            <button type="submit" class="btn btn-danger">
                                    <i class="icon-trash2"></i> Delete
                                </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}